.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.4s;
  z-index: 9;
}

.Imageparentdiv {
  overflow: hidden;
}

.Imageparentdiv img {
  transition: all ease-in-out 0.4s;
}
.Imageparentdiv:hover img {
  transform: scale(1.08);

  transition: all ease-in-out 0.4s;
}

.Imageparentdiv:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.4s;
}
.link {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);

  transition: border-color 0.3s ease-in-out;
}

.link:hover {
  border-color: white;
}
